# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Kivy and Buildozer
.buildozer/
bin/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Local logs and database files
*.log
runs.json

# Backup files
*.bak
